input {
  color: #4a6d7c;
  width: 35vw;
  height: 5vh;
  margin: 10px 5px;
  border: 2px solid #4a6d7c;
  border-radius: 3px;
}

input:focus {
  outline: palegreen;
  border: 3px solid #08a4bd;
}

@media (max-width: 800px) {
  input {
    width: 60vw;
  }
}

@media (max-width: 450px) {
  input {
    width: 85vw;
  }
}
